<a href="https://colab.research.google.com/github/VarunPalrecha/DataSets/blob/main/ProvidedsalesVsTotalSales.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [40]:
import pandas as pd
import json
import re
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

## Load Data

In [44]:

df = pd.read_csv('https://raw.githubusercontent.com/VarunPalrecha/DataSets/main/output1.csv')
df

,productId,productName,rating,price,discount,positiveReviews,negativeReviews,totalReviews,releaseDate,category,seller,sales_month1,sales_month2,sales_month3,sales_totalsales
0,1,Echo Dot (4th generation) amz,2,26,29,12,19,31,2023-06-24T05:33:09.613Z,Electronic,Amazon,53,94,36,183
1,2,Kindle Paperwhite amz,2,44,42,42,69,111,2023-06-24T05:33:09.613Z,Electronic,Amazon,95,67,48,210
2,3,Apple AirPods Pro amz,0,66,29,44,7,51,2023-06-24T05:33:09.613Z,Home Decor,Amazon,64,60,15,139
3,4,Instant Pot Duo amz,1,63,24,88,27,115,2023-06-24T05:33:09.613Z,Books,Amazon,8,59,17,84
4,5,Fitbit Charge 4 amz,5,21,38,91,49,140,2023-06-24T05:33:09.613Z,Sports,Amazon,20,86,16,122
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,296,LG Gram 17-Inch Laptop fc,2,76,16,64,60,124,2023-06-24T05:33:09.615Z,Electronic,Flipkart,99,8,4,111
296,297,Google Pixel 5 fc,3,71,33,25,32,57,2023-06-24T05:33:09.615Z,Beauty,Flipkart,64,83,98,245
297,298,Ring Stick Up Cam Battery fc,4,37,50,49,22,71,2023-06-24T05:33:09.615Z,Books,Flipkart,74,15,28,117
298,299,KitchenAid Artisan Series Stand Mixer fc,4,97,19,42,86,128,2023-06-24T05:33:09.615Z,Electronic,Flipkart,32,85,29,146
299,300,DJI Osmo Pocket Handheld Camera fc,4,1,22,59,52,111,2023-06-24T05:33:09.615Z,Daily life,Flipkart,92,75,47,214

## Data Prepration.

## Data Seperation as X and Y.

In [45]:
X = df[['sales_month1', 'sales_month2', 'sales_month3', 'sales_totalsales']].values
X

array([[ 53,  94,  36, 183],
       [ 95,  67,  48, 210],
       [ 64,  60,  15, 139],
       ...,
       [ 74,  15,  28, 117],
       [ 32,  85,  29, 146],
       [ 92,  75,  47, 214]])

In [47]:
df['sales'] = df[['sales_month1', 'sales_month2', 'sales_month3']].sum(axis=1)
y = df['sales'].values
y

array([183, 210, 139,  84, 122,  84, 173, 163, 169, 185,  89, 260, 142,
       127, 103,  80, 123,  98, 171,  32, 276, 175, 153, 145, 124, 120,
       211,  92, 236, 157,  64, 213, 166, 261,  84, 180, 155, 142, 136,
        79, 263, 130, 176, 193, 162, 159, 143, 189, 185, 154,  58, 164,
       248,  61, 238, 277, 208, 272, 258, 187, 139, 161, 143,  99,  87,
       129, 219, 109, 158,  92,  52,  74, 123, 177, 161,  41,  99, 207,
        79, 129, 129, 193, 128, 194, 166, 126, 157, 149, 128, 162, 211,
       148, 210, 204,  92, 119, 112, 138, 133, 166, 165, 214, 111, 203,
       162,  92, 131, 175, 168, 159, 204,  96, 203,  96, 170,  46,  95,
       180, 104, 187, 168, 207, 164, 157, 205, 133, 214, 137, 197, 111,
       195,  97, 170, 142, 162, 246, 240,  94, 160, 154, 125, 123,  65,
       139, 199, 111, 165, 176, 180, 220, 156, 148, 179, 144,  68,  95,
       212, 148, 154, 185, 151, 103, 136, 206, 174,  75, 216, 130, 142,
       108,  79, 145, 168, 161, 144, 133, 149, 171, 210, 163, 168, 155,
       184, 136, 214, 106, 124, 178, 125, 115,  81,  64, 185, 218, 128,
       177, 110, 120, 130,  46, 159, 147, 200, 122, 110, 185, 193,  86,
       100, 132, 161, 111,  38, 230,  91, 162, 131, 200, 174, 140, 191,
       193, 139, 149, 210, 114, 180, 158, 200, 113, 121, 179,  92, 162,
       112, 146, 198, 121,  91,  79, 159, 137, 169, 222, 101,  94, 143,
       201, 143, 173, 177, 146, 241, 130, 148, 104, 149, 190, 213, 202,
       172, 130, 152, 194, 127, 115, 156, 192, 142, 117, 212, 153, 197,
       254, 120,  96, 139, 134, 101, 137, 250, 143, 161,  98, 227, 173,
       150, 239, 136, 133, 185,  80, 259,  99,  63, 111, 245, 117, 146,
       214])

## Data Splitting

In [48]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

## Create and train the linear regression model

In [ ]:
model = LinearRegression()
model.fit(X_train, y_train)

## Make predictions on the testing data

In [51]:
y_pred = model.predict(X_test)
y_pred

array([122., 156., 179., 185., 162., 180., 110., 159.,  84., 133., 121.,
       272., 174., 159., 184., 193., 133., 111., 180.,  75.,  79.,  96.,
       173., 177., 162., 176., 143., 111., 148.,  91.,  98., 174., 261.,
       124., 162., 187., 163., 211., 143., 177., 204.,  99., 150., 139.,
       207.,  99., 112., 113.,  96., 179., 168., 199.,  79.,  41., 117.,
       101., 138., 210., 185., 120.])

## Calculate RMSE

In [52]:
rmse = mean_squared_error(y_test, y_pred, squared=False)
print(f'Root Mean Squared Error: {rmse}')

Root Mean Squared Error: 2.3368827726717468e-14

##  You can now use the trained model to predict sales for new feature values

In [57]:
new_features = [[51, 97, 21, 183]]  # Example new feature values
predicted_sales = model.predict(new_features)
print(f'Predicted Sales for New Feature Values: {predicted_sales[0]}')

Predicted Sales for New Feature Values: 179.5